.EventList-Row.panel.panel-default {
    margin: 10px 0;
    cursor: pointer;
}

.EventList-Row.panel .panel-heading {
    background-color: #fefcfa;
}

.EventList-Row.panel .panel-heading:hover {
    background-color: #FFFFFF;
}

.EventList-Header {
    padding: 20px;
}

.EventList-label {
    color: #575757;
    font-size: 12px;
}