.EventList {
  padding-left: 40px;
}
.EventList-Contain {
  border-left: 1px solid #E6E7E8;
  padding: 30px;
  position: relative;
}

.EventList-Title:before {
  content: '';
  background-color: #2F313C;
  border-radius: 100%;
  position: absolute;
  left: -22px;
  height: 15px;
  width: 15px;
}

.EventList-Date {
  color: #E6E7E8;
  margin:0;
}

.EventList-Details {
  margin: 10px 0;
}

.EventList-Details .fa {
  color: #E6E7E8;
  font-size: 20px;
  vertical-align: middle;
  margin-right: 10px;
}

.EventList-Guests {
  padding-bottom: 10px;
  font-size: 15px;
  cursor: pointer;
}


.EventList-Panel.panel {
  border: 0;
  box-shadow: 0;
  border-radius: 0;
  border-bottom: 5px solid #E6E7E8;
}

.EventList-Add {
  margin:0 0 0 auto;
  display: block;
}

.EventList .EventList-label {
  color: #575757;
  font-size: 12px;
}

.EventList-Past {
  opacity: 0.4;
}

.EventList-Past .EventList-Add {
  display: none;
}

.EventList-Past .btn-secondary {
  display: none;
}


