body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #D9D1C7;
}

h1, h2, h3, h4 {
  color: #2F3546;
}

p {
  color: #333333;
  margin:0;
}

p span,
h3 span {
  color: #666A75;
}

hr {
  width: 200px;
  margin: 0 auto;
}

hr.thick {
  width: 80px;
  height: 5px;
  background-color: #2F313C;
  border: 0;
  margin: 20px auto 0 0;
}

.container {
  width: 900px;
  margin:0 auto;
  background-color: #FFFFFF;
  border-left: 10px solid #2F313C;
}

.btn {
  outline: none!important;
  border: 0;
}

.btn:disabled {
  background-color: #c3c3c3;
}
.btn:disabled:hover {
  background-color: #c3c3c3;
}

.btn-primary {
  border-radius: 40px;
  background-color: #2F3546;
  padding: 20px;
  min-width: 200px;
}

.btn-primary:hover, .btn-primary:focus {
  background-color: #1d2334;
}

.btn-secondary {
  background-color: #2F3546;
  color: #ffffff;
}

.btn-secondary:hover, .btn-secondary:focus {
  background-color: #1d2334;
  color: #ffffff;
}

.btn-default {
  background-color: #cecece;
}

.modal-header {
  border: none;
}

.modal-content {
  border: 0;
  border-radius: 2px;
}

.mt-1 {
  margin-top: 30px;
}

.mb-1 {
  margin-bottom: 30px;
}

.mb-2 {
  margin-bottom: 10px;
}

.link {
  cursor: pointer;
}

.rdtPicker table {
  width: 100%;
  text-align: center;
}

.rdtPicker table th {
  text-align: center;
  font-weight: normal;
  padding:10px;
}

.rdtPicker th.dow {
  padding: 5px;
  background-color: #666A75;
  color: #ffffff;
}

.rdtPicker td.rdtDay,
.rdtPicker td.rdtMonth,
.rdtPicker td.rdtYear {
  padding: 5px;
  color: #666A75;
  cursor: pointer;
}

.rdtPicker td.rdtDay.rdtActive,
.rdtPicker td.rdtMonth.rdtActive,
.rdtPicker td.rdtYear.rdtActive {
  background-color: #D9D1C7;
}

.rdtPicker .rdtNext,
.rdtPicker .rdtPrev {
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
}

.rdtSwitch, .rdtBtn {
  cursor: pointer;
}

.rdtTimeToggle {
  padding: 10px;
  cursor: pointer;
  background-color: #666A75;
  color: #ffffff;
}

.rdtTime .rdtSwitch {
  cursor: pointer;
  background-color: #666A75;
  color: #ffffff;
}

.rdtCounter,
.rdtCounterSeparator {
  display: inline-block;
  padding: 10px;
  vertical-align: middle;
}

.rdtToday {
  border-bottom: 2px solid #2F3546;
}

